$light       = 'RobotoLight'
$regular     = 'RobotoRegular'
$medium      = 'RobotoMedium'
$bold        = 'RobotoBold'
$color       = #149DCC
body
	font-family $regular
	color #000000
p
	margin 0
img
	width 100%
.jm-section
	position relative
	padding 20px
.jm-container
	width 100%
	max-width 1100px
	margin auto
.jm-header
	background-color #F1F3F4
	.jm-idioma
		padding 10px 0
		text-align right
		.mdl-button
			text-decoration none
			text-transform none
			font-family $bold
			border-radius 10px
			color #818181
			height 30px
			line-height 32px
			background-color #FFFFFF
			&.active
				background-color $color
				color #FFFFFF !important
.navbar-default
	background-color #000000
	.navbar-brand
		padding 10px
		height 100%
		img
			max-width 50px
	.navbar-nav
		&>
			&li
				&>a
					color #FFFFFF
					padding 25px 20px
					&:hover
						color #FFFFFF
				&.active
					&>a
						background-color transparent
						color #FFFFFF
						&:hover
							background-color transparent
							color #FFFFFF
.jarallax
	.jm-contenido--parallax
		.jm-text--parallax
			color #000000
footer
	background-color #2E2E2E
	color #FFFFFF
	text-align center
	ul
		margin 0
		padding 0
		margin-bottom 10px
		li
			display inline-block
			list-style none
			padding 0 20px
			a
				color #FFFFFF !important
				text-decoration none !important