$light       = 'RobotoLight'
$regular     = 'RobotoRegular'
$medium      = 'RobotoMedium'
$bold        = 'RobotoBold'
$color       = #D03A15
body
	font-family $regular
	color #000000
h2
p
	margin 0
img
	width 100%
flexCenter()
	display flex
	display -webkit-flex
	align-items center
flexStart()
	display flex
	display -webkit-flex
	align-items flex-start
absolute()
	position absolute
	top 0
	left 0
	right 0
	bottom 0
relative()
	position relative
	top 0
	left 0
	right 0
	bottom 0
transition(css-name)
	-webkit-transition css-name .25s linear
	-moz-transition css-name .25s linear
	-ms-transition css-name .25s linear
	-o-transition css-name .25s linear
	transition css-name .25s linear
.jm-flex
	flexCenter()
.jm-gris
	background-color 
.jm-bg-black
	absolute()
	background-color #000000
	opacity .5
	z-index 0
.jm-section
	position relative
	padding 20px
.jm-container
	width 100%
	max-width 1100px
	margin auto
.jm-header
	background-color #F1F3F4
	.jm-idioma
		padding 10px 0
		text-align right
		.mdl-button
			text-decoration none
			text-transform none
			font-family $bold
			border-radius 10px
			color #000000
			height 30px
			line-height 32px
			background-color #FFFFFF
			&.active
				background-color $color
				color #FFFFFF !important
.navbar-default
	background-color #000000
	margin 0
	border none
	border-radius 0
	.navbar-brand
		padding 10px
		height 100%
		img
			max-width 50px
	.navbar-nav
		&>
			&li
				&>a
					color #FFFFFF
					padding 25px 20px
					&:hover
						color #FFFFFF
				&.active
					&>a
						background-color transparent
						color #FFFFFF
						&:hover
							background-color transparent
							color #FFFFFF
.jarallax
	height calc(100vh - 120px)
	&.height
		height 100%
	.jm-contenido--jarallax
		height 100%
		max-width 900px
		text-align center
		color #000000
		margin auto
		.jm-text--parallax
			padding 80px 0
			color #FFFFFF
			h2
				font-family $bold
				font-size 56px
				line-height 58px
				margin 15px 0
			p
				font-size 24px
				line-height 36px
			span
				font-size 18px
				line-height 24px
				font-family $light
				display block
			.jm-button
				margin-top 30px
				font-size 16px
			.jm-card--release
				flexCenter()
				position relative
				background-color #FFFFFF
				height 125px
				margin-top 30px
				border-top-left-radius 20px
				border-bottom-right-radius 20px
				.jm_title
					p
						color #818181
						font-size 14px
						line-height 18px
					h2
						font-size 18px
						line-height 22px
						font-family $bold
						color #000000
						margin 5px 0
				.jm_menu
					position absolute
					top 0
					right 0
					.mdl-button
						background-color $color !important
						border-radius 0
						i
							color #FFFFFF
							font-size 16px
.jm-button
	transition(background-color)
	background-color transparent !important
	color #FFFFFF !important
	font-family $bold
	border-radius 25px
	border 2px solid #FFFFFF
	padding 0 30px
	height 42px
	line-height 40px
	text-decoration none !important
	&:hover
		background-color #FFFFFF !important
		color #000000 !important
.jm-grid
	display grid
	grid-column-gap 20px
	&.jm-grid--release
		grid-template-columns repeat(4, 200px)
footer
	background-color #2E2E2E
	color #FFFFFF
	text-align center
	ul
		margin 0
		padding 0
		margin-bottom 10px
		li
			display inline-block
			list-style none
			padding 0 20px
			a
				color #FFFFFF !important
				text-decoration none !important
/*SCROLL*/
::-webkit-scrollbar
	width 6px
	height 5px
::-webkit-scrollbar-track
	background-color transparent
	border-radius 10px
::-webkit-scrollbar-thumb
	background-color #DDDFE2
	border-radius 10px